.paper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 90px;

}

body {
    background-color: rgba(202, 208, 226, 0.377);

}

.Subjectfull {
    width: 250px;
    height: 250px;
    /* border-radius: 20px; */
    /* border: 2.5px solid rgb(138, 145, 175); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.Subjectfull img {
    border: 2.5px solid rgb(138, 145, 175);
    border-radius: 20px;
}

p {
    position: absolute;
    color: black;
    bottom: -40px;
    font-size: 30px;
    left: 35%;
    margin: 0;
}