@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    background: antiquewhite;
}
#subName{
    font-size: 30px;
    /* font-weight: 300; */
}
#paperName {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    background-color:#e9d7e9;
    border: 0px solid;
    /* height: 20px;
    width: 160px; */
    color: rgb(37, 32, 32);
}

#paperName[type="text"] {
    padding: 3px 20px;
    margin: 8px 0;
}

.paper_name {
    /* display: flex;
    flex-direction: row;
    gap: 3rem;

    align-items: center;
    justify-content: center; */
}

#paper_data {
    /* width: 100%; */
    /* height: 99.4vh; */
    background-color: rgba(221, 188, 216, 0.267);
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add_question,
#submit_btn {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin: 40px 10px;
}

.question {
    width: 100%;
}

.ques {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    gap: 1rem;
    flex-direction: column;
}

.ans {
   
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 15px 20px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0 -52px;
    /* align-items: center; */
}

h4 {
    text-align: center;
    color: rgb(230, 152, 152);
    font-size: large;
}



#question_paper {
    width: 100%;
}

#add_options {
    width: 115px;
    height: 40px;
    border-radius: 15px;

}

.inputOption {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color: #c3c9ce;
    color: rgb(117, 93, 93);
    font-size: 20px;
    margin: 0 -14px;
}

.radioOption {
    width: 150px;
    height: 20px;
   
}

.textQue {
    width: 42rem;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(213, 224, 233);
    color: rgb(26, 24, 22);
    font-size: 20px;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
}