@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
}
#paperName {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

#paperName[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
}

.paper_name {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    align-items: center;
    justify-content: center;
}

#paper_data {
    width: 100%;
    height: 100%;
    background-color: rgb(219, 203, 203);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit_btn {
    width: 150px;
    height: 50px;
    border-radius: 25px;
}
#question_paper {
    width: 100%;
    border: 1px solid;

}
.ques{
    display: flex;
    width: 100%;
    height: 20px;
}
.options{
    display: flex;
    width: 100%;
    margin: 30px 60px;
    flex-direction: column;
    gap: .5rem;
}
label{
    padding-left: 20px;
}
p{
    padding-left: 20px;
}