@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
}

#subName {
    font-size: 30px;
    font-weight: 400;
}

#paperName {
    width: 500px;
    height: 60px;
    border-radius: 10px;
    font-size: 32px;
    text-align: center;
}



.paper_name {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

body{
    background-color: rgba(202, 208, 226, 0.377);
    padding: 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

#submit_btn {
    width: 150px;
    height: 50px;
    border-radius: 25px;
}

.ques {
    display: flex;
    width: 100%;
    height: 20px;
}

.options {
    display: flex;
    margin: 30px 60px;
    flex-direction: column;
    gap: .5rem;
}

label {
    padding-left: 20px;
}

p {
    padding-left: 20px;
}

p::first-letter {
  
    text-transform: capitalize;
}
#question_paper .qw{
    padding: 25px 25px 0 25px;

}